<p>
  ngxb-select2-test works!
</p>

<template #customItemTemplate let-model="item" let-index="index">
  <h5>{{model.presentation1}} - {{model.presentation2}}[{{ index }}]</h5>
</template>

<form [formGroup]="testForm">

  <app-form-group [control]="testForm.get('testId')" [fieldTitle]="'Test Field'">

    <div class="input-group">
      <input formControlName="testId" appTypeahead2
             [typeahead]="dataSource"
             typeaheadOptionsLimit="7"
             typeaheadMinLength="0"
             typeaheadOptionField="id"
             [typeaheadItemTemplate]="customItemTemplate"
             placeholder="Type a test letter..."
             class="form-control">
      <span class="input-group-btn">
                <button type="button" [disabled]="!testForm.get('testId').value" class="btn btn-primary"
                        (click)="alertAbout('Wow!')"><i class="fa fa-info"></i></button>
              </span>
    </div>
  </app-form-group>

</form>
